{% extends 'board/base_board.html' %} {% block board_content %}
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <td>순번</td>
            <td>제목</td>
            <td>작성자</td>
            <td>작성일</td>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td>
            <td>
                <a href="{% url 'board:post_detail' pk=post.pk %}">{{ post.title }}</a>
            </td>
            <td>{{ post.author }}</td>
            <td>{{ post.created_date|date:"M / d일"|lower }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}